<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
     
    <title>Landing</title>
  </head>
  <body>
    <h1>Landing!</h1>
    <h2>Here is the info and the rules</h2>
    <p>Access API containing basic information on the books,<br> houses and characters of George R.R. Martin’s “A Song of Ice and Fire” fantasy book series.<br>
      <br>
    Allows users to create categories to help them remember who all the characters are and where their allegiances lie.<br>
    <br>
    Users can search for characters by their name, the API confirms if the spelling is correct, <br>then user can choose to add that character to a new category.<br>
    <br>
    Users can see list of all categories, edit a category's name, create a new one, or delete one.</p>
    <h3 id="time">Also it's currently: <h3>
    <a href="/categories">Let's get started</a>
  </body>
</html>