<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script> 
    <title>Main</title>
  </head>
  <body>
    <h1>Main!</h1>
    <h2>All available categories:</h2>
    <ul class="categories-box">
      {{#categoriesData}}
        <div class="categories-container">
          <div class="delete-categories-container">
            <li>
              <a href="characters/{{id}}">
                {{name}}
              </a>
            </li>
            <button class="delete-category-button" categoryId="{{id}}">Delete category</button>
          </div>  

        </div>  
      {{/categoriesData}}      
    </ul>
    <div id="add-new-category-container">
      <form action="/categories" method="POST" id="new-category-form" >
        <label >Add a new category!</label><br>
        <input id="new-category-name" type="text">
        <input type="submit" value="Submit">
      </form>  
    </div>      
    <a href="/">Back to landing!</a>    
  </body>
</html>